# Session file for lib/aoc.rb
/.session
# Input file storage for lib/aoc.rb
/.inputs
# Input files in puzzle directories
/*/*/input
/*/*/input?
# JSON files for leaderboard.rb
/*.json
# Backup files
.*.sw?
*~
